/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 * 
 *= require_self
 */
 
 #rodape {
     position:absolute;
     bottom: 0;
     width: 100%;
     text-align:right;
     font-size: 4px;
     color:black;
 }
 
 .header{
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
 }
 
 #sairButton{
     float:right;
  
 }
 
 /*Change the link color to black (black) on hover */
li a:hover {
    background-color: yellow;
    color:black;
    
}

li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
 
 li a:hover {
    background-color: #DAA520;
    color:black;
}

body{
 background-color: #DCDCDC;
}
 
li {
    float: left;
}
 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}