<html>
	<head>
		<%= stylesheet_link_tag  'scaffolds', media: 'all', 'data-turbolinks-track' => true %>
	</head>
	<body>
		<div class="header">
			<h1>New Car</h1>
		</div>

<%= render 'form' %>

<%= link_to 'Back', cars_path %>
</body>
</html>